{% block content %}
{% include "base.html" %}

<div class="container-fluid">
  <h2>Information</h2>
  <span id="last_temperature_read"></span>
  <div>
    <canvas id="plots"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('plots');

    var data_buffer = {{ data_buffer | tojson | safe }};
    var timestamps = [];
    var temperature_cpu = [];

    let i = 0;
    while (i < data_buffer.length) {
      timestamps.push(data_buffer[i].timestamp);
      temperature_cpu.push(data_buffer[i].temperature_cpu);
      i++;
    }

    let last_temperature_read = document.getElementById("last_temperature_read");
    last_temperature_read.textContent = 
      "CPU temperature: " + temperature_cpu[temperature_cpu.length - 1] + " °C";
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: timestamps,
        datasets: [{
          label: 'CPU Temperature',
          data: temperature_cpu,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            suggestedMin: 0,
            suggestedMax: 45
          }
        }
      }
    });
  </script>
</div>

{% endblock %}